<% obj.each do |todo| %><%# undefined method `each' for nil:NilClass %>
  <div class= "row">
    <div class="col-md-2">
      <section class="user_info center">
        <%= gravatar_for(todo.user, size: 120)%>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to todo.name, todo_path(todo) %></h4><%#Displays todo's name%>
      <p><%= truncate(todo.description, length: 150)%></p><%#Display todo's description%>
      <% if todo.factors.any? %>
        <p>Factors: <%= render todo.factors %></p><%#Calls the _factors partial which lists the factors.%>
      <% end %>      
      <p>
        <span class="quiet">Created <small><%= time_ago_in_words(todo.created_at) %> ago by <%= todo.user.name.titleize %><%#Displays how long ago todo was created%>
                                                          | <%= pluralize(todo.comments.count, 'Comment') %></small></span><%#Displays the number of comments for a todo with pluralization.%>
      </p>
      <% if logged_in? && (current_user == todo.user || current_user.admin?) %><%#The @todo in the Edit & Delete variable had to be changed to 'todo'.%>
        <div class="todo-actions">
          <%= link_to "Edit this todo", edit_todo_path(todo),class: "btn btn-xs btn-warning" %><%#Creates an orange edit warning button%>
          <%= link_to "Delete this todo", todo_path(todo), method: :delete,
                                        data: { confirm: "Are you sure you want to delete this todo?" },
                                        class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>