<%= render 'shared/page_title', title: "showing all todos"%>
<% @todos.each do |todo| %><%# *** Changed @todos.each to @todo.each ***%>
  <div class= "row">
    <div class="col-md-2">
      <section class="user_info center">
        <%= gravatar_for(todo.user, size: 120)%>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to todo.name, todo_path(todo) %></h4><%#Displays todo's name%>
      <p><%= truncate(todo.description, length: 150)%></p><%#Display todo's description%>
      <% if todo.created_at %><%# A fix from Stackoverflow %>
      <p>
        <span class="quiet">Created <small><%= time_ago_in_words(todo.created_at) %></small></span><%#Displays how long ago todo was created%>
      </p>
      <% end %>
    </div>
  </div>

<% end %>