<%= render 'shared/page_title', title: @todo.name %><%#Passes @todo.name to partial for display.%>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Steps: </strong></h4>
  <hr /><%#Adds a line across the <h4> section%>
  <%= simple_format(@todo.description) %><%#Displays todo in the format it was entered by user.%>
  <hr />
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em><%#<em> = Italics%>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@todo.user), user_path(@todo.user) %><%#Creates link from Gravatar image to user's profile page.
    </p>
    <p class="center">
      <small><%=@todo.user.name.titleize%></small>
      <div class="pull-right"><%=time_ago_in_words(@todo.created_at)%> ago</div>
    </p>
  </div>
  <div class="todo-actions">
    <% if logged_in? && (current_user == @todo.user || current_user.admin?) %>
    <%= link_to "Edit this Todo", edit_todo_path(@todo),class: "btn btn-xs btn-warning" %><%#Creates an orange edit warning button%>
    <%= link_to "Delete this Todo", todo_path(@todo), method: :delete,
                                      data: { confirm: "Are you sure you want to delete this todo?" },
                                      class: "btn btn-xs btn-danger" %>
    <% end %>
  <%= link_to "Return to Todo listing", todos_path, class: "btn btn-xs btn-primary" %>
  </div>
</div>